<h2>So what's this demo project about?</h2>
<h4>Angular of course! More specifically: making a front-end for a Spring Boot application in Angular. </h4>
<h4>The order web app allows you to do the following for the various stories/sections:</h4>

<ul class="collection with-header" id="collection-green">
    <li class="collection-header"><h4>Customers:</h4></li>
    <li class="collection-item">View all customers</li>
    <li class="collection-item">Create a new customer</li>
    <li class="collection-item">View the details of a specific customer</li>
    <li class="collection-item">Edit and update a specific customer</li>
</ul>

<ul class="collection with-header" id="collection-red">
    <li class="collection-header"><h4>Items:</h4></li>
    <li class="collection-item">View all items</li>
    <li class="collection-item">Create a new item</li>
    <li class="collection-item">View the details of a specific item</li>
    <li class="collection-item">Edit and update a specific item</li>
</ul>

<ul class="collection with-header" id="collection-blue">
    <li class="collection-header"><h4>Orders:</h4></li>
    <li class="collection-item">Shop for items</li>
    <li class="collection-item">View your basket of items</li>
    <li class="collection-item">Place orders</li>
</ul>

<app-go-back-button></app-go-back-button>