<nav>
    <div class="nav-wrapper light-blue lighten-1">
      <div class="container">
        <a routerLink="/" class="brand-logo left"><img src="../../assets/img/order-logo.png" id="order-logo" alt=""></a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a routerLink="/about">About</a></li>
          <li><a routerLink="/customers">Customers</a></li>
          <li><a routerLink="/items">Items</a></li>
          <li><a routerLink="/orders">Orders</a></li>
        </ul>
      </div>
    </div>
  </nav>